@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900 &family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0px;
  padding: 0px; }

html {
  scroll-behavior: smooth; }

body {
  color: #1f1d1d;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; }

.p3::-webkit-scrollbar {
  background-color: #ffffff;
  width: 7px; }

.p3::-webkit-scrollbar-thumb {
  background-color: #a3a3a364;
  border-radius: 10px; }

.p3:hover::-webkit-scrollbar-thumb {
  background-color: #3e3e3e; }

.p3::-webkit-scrollbar-button {
  display: none; }

header {
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  top: 0;
  margin: 0;
  width: 100%;
  padding: 0px; }
  header nav {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    background-color: #ffffff;
    opacity: 0.90;
    padding-top: 10px;
    padding-bottom: 10px; }
    header nav .logo a {
      text-decoration: none;
      color: #020202;
      font-size: 13px;
      font-weight: 500;
      letter-spacing: 3px; }
      header nav .logo a:hover {
        transition: 0.2s ease-in-out;
        font-weight: 600; }
    header nav .menu {
      text-align: center;
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      letter-spacing: 1.3px;
      list-style: none;
      font-weight: 400;
      margin-bottom: 0; }
      header nav .menu li a {
        text-decoration: none;
        margin-left: 30px;
        color: #020202; }
        header nav .menu li a:hover {
          transition: 0.3s ease-in-out;
          font-weight: 600; }
  header hr {
    padding: 0;
    margin: 0; }

main .tituloyfoto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100;
  padding: 120px;
  padding-bottom: 180px;
  background-color: #020202; }
  main .tituloyfoto .titulo {
    text-align: center;
    font-weight: 300;
    color: #fafafa;
    padding-right: 30px; }
    main .tituloyfoto .titulo .p1 {
      font-size: 80px;
      margin-bottom: -20px; }
    main .tituloyfoto .titulo .p2 {
      letter-spacing: 8px;
      font-size: 100px;
      font-weight: 400; }

main .presentacion {
  font-size: 17px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  main .presentacion .hola {
    font-size: 32px;
    font-weight: 200;
    line-height: 52px;
    letter-spacing: 3.5px;
    padding: 30px;
    margin-bottom: 20px; }
  main .presentacion .lineahola {
    margin-top: -20px;
    margin-bottom: 20px;
    width: 60%;
    -webkit-animation-name: slideLeftReturn;
    animation-name: slideLeftReturn; }
  main .presentacion p {
    margin-bottom: 45px;
    width: 50%;
    text-align: center; }

main .disciplinas {
  text-align: center;
  font-weight: 200;
  font-size: 50px;
  letter-spacing: 3.5px;
  padding-top: 50px;
  padding-bottom: 50px; }

main .subtitulos h3 {
  font-weight: 200;
  padding: 40px;
  font-size: 32px;
  letter-spacing: 3.5px;
  font-weight: 300;
  text-align: center; }

main .subtitulos .textosobremi {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  main .subtitulos .textosobremi .fotoyo img {
    width: 100%; }
  main .subtitulos .textosobremi .p3 {
    font-weight: 400;
    font-size: 14px;
    width: 600px;
    height: 300px;
    overflow: auto;
    padding: 20px;
    padding-top: 10px;
    line-height: 20px;
    border-radius: 5px;
    box-shadow: inset 0px -8px 20px -5px rgba(0, 0, 0, 0.1); }

main .subtitulos .palabrassobremi {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 2px;
  margin-left: 35%;
  margin-right: 35%; }
  main .subtitulos .palabrassobremi .estetica {
    margin-top: 30px;
    padding: 50px; }
  main .subtitulos .palabrassobremi .mas {
    margin-top: 30px;
    padding: 50px; }
  main .subtitulos .palabrassobremi .funcionalidad {
    margin-top: 30px;
    padding: 50px; }
  main .subtitulos .palabrassobremi .usabilidad {
    margin-top: 30px;
    padding: 50px; }

main .subtitulos .proyectosnombres {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }
  main .subtitulos .proyectosnombres .caja {
    color: #000000;
    text-decoration: none;
    width: 250px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px; }
    main .subtitulos .proyectosnombres .caja:hover {
      transition: 0.5s ease-in-out;
      border-color: #1f1f1f;
      border-width: 1px; }
    main .subtitulos .proyectosnombres .caja:active {
      color: #a8a8a8; }
    main .subtitulos .proyectosnombres .caja .cargadorya, main .subtitulos .proyectosnombres .caja .digram, main .subtitulos .proyectosnombres .caja .somos, main .subtitulos .proyectosnombres .caja .ecorappi, main .subtitulos .proyectosnombres .caja .hayrancho, main .subtitulos .proyectosnombres .caja .keepgoing {
      text-decoration: none;
      color: #333;
      font-weight: bold;
      display: inline-block;
      text-align: center;
      text-decoration: none;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 3.5;
      color: #020202;
      margin-top: 10px; }
    main .subtitulos .proyectosnombres .caja .etiqueta {
      font-size: 12px;
      font-weight: 300;
      padding: 10px; }
    main .subtitulos .proyectosnombres .caja hr.lineacaja {
      margin-top: 10px;
      margin-bottom: 20px;
      border: none;
      border-top: 1px solid #676767;
      width: 90%; }
    main .subtitulos .proyectosnombres .caja .bajadadeproyecto {
      margin-top: 10px;
      font-size: 12px;
      font-weight: 400; }

main .formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  margin-bottom: 20px; }
  main .formulario input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px; }
  main .formulario textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px; }
  main .formulario button {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fafafa;
    background-color: #000000;
    padding: 11px 22px 11px 22px;
    border-radius: 6px;
    border-style: ridge;
    background-color: #f4f4f4;
    color: #171616;
    border-color: #1f1f1f;
    cursor: pointer; }
    main .formulario button:hover {
      transition: 0.5s ease-in-out;
      color: #fafafa;
      background-color: #000000; }
    main .formulario button:active {
      transition: 0.1s ease-in-out;
      background-color: #c2c2c2; }

footer {
  color: #e8e8e8;
  text-align: center;
  padding: 10px;
  letter-spacing: 4px;
  background-color: #1b1b1b;
  opacity: 0.15;
  position: sticky;
  bottom: 0; }
  footer:hover {
    opacity: 1; }
  footer .externos {
    display: grid;
    align-items: center;
    grid-template-areas: "logoli nombrefooter logobe" "logoli mailfooter logobe"; }
    footer .externos .nombrefooter {
      text-align: center;
      grid-area: nombrefooter;
      margin-bottom: 5px;
      color: #a7a7a7; }
    footer .externos .logoli {
      display: flex;
      justify-content: center;
      grid-area: logoli;
      align-self: center; }
      footer .externos .logoli img {
        width: 20px; }
        footer .externos .logoli img:hover {
          width: 22px; }
    footer .externos .mailfooter {
      color: #e8e8e8;
      font-weight: 400;
      font-size: 14px;
      letter-spacing: 1px;
      text-decoration: none;
      grid-area: mailfooter; }
      footer .externos .mailfooter:hover {
        font-weight: 500; }

.logobe {
  display: flex;
  justify-content: center;
  grid-area: logobe;
  align-self: center; }
  .logobe img {
    width: 27px; }
    .logobe img:hover {
      width: 29px; }

@media (max-width: 1100px) {
  main .tituloyfoto {
    flex-direction: column; }
    main .tituloyfoto .titulo {
      padding-bottom: 20px; }
    main .tituloyfoto .imagenes img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      height: 400px; }
  main .presentacion p {
    width: 70%; }
  main .disciplinas {
    font-size: 24px;
    font-weight: 300;
    padding-top: 0px; }
  main .subtitulos .palabrassobremi {
    font-size: 16px; }
    main .subtitulos .palabrassobremi .estetica {
      padding: 25px; }
    main .subtitulos .palabrassobremi .mas {
      padding: 25px; }
    main .subtitulos .palabrassobremi .funcionalidad {
      padding: 25px; }
    main .subtitulos .palabrassobremi .usabilidad {
      padding: 25px; } }

@media (max-width: 700px) {
  header nav {
    flex-direction: column;
    text-align: center; }
    header nav .logo {
      padding-bottom: 10px; }
  header .menu li a {
    margin: 20px; }
  main .tituloyfoto .titulo {
    padding: 0px;
    margin: 20; }
    main .tituloyfoto .titulo .p1 {
      font-size: 50px;
      margin-bottom: -20px; }
    main .tituloyfoto .titulo .p2 {
      font-size: 60px;
      letter-spacing: 8px; }
  main .tituloyfoto .imagenes img {
    height: 250px; }
  main .presentacion .hola {
    font-size: 25px;
    line-height: 30px;
    padding: 20px; }
  main .presentacion .lineahola {
    width: 70%; }
  main .presentacion p {
    font-size: 14px; }
  main .subtitulos .textosobremi .fotoyo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    height: 150px; }
  main .subtitulos .textosobremi .p3 {
    margin-top: 10px;
    width: 300px;
    height: 200px; }
  main .subtitulos .palabrassobremi {
    font-size: 14px;
    letter-spacing: 1px; }
    main .subtitulos .palabrassobremi .estetica {
      padding: 16px;
      margin-top: 50px;
      margin-bottom: 50px; }
    main .subtitulos .palabrassobremi .mas {
      padding: 16px;
      margin-top: 50px;
      margin-bottom: 50px; }
    main .subtitulos .palabrassobremi .funcionalidad {
      padding: 16px;
      margin-top: 50px;
      margin-bottom: 50px; }
    main .subtitulos .palabrassobremi .usabilidad {
      padding: 16px;
      margin-top: 50px;
      margin-bottom: 50px; }
  main .subtitulos .proyectosnombres {
    margin-left: 30px;
    margin-right: 30px; }
    main .subtitulos .proyectosnombres .caja {
      width: 170px;
      margin-bottom: 20px; } }

.formulario footer .externos .nombrefooter {
  font-size: 14px; }

.formulario footer .externos .logoli img {
  width: 20px; }

.formulario footer .externos .mailfooter {
  font-size: 12px; }

.logobe img {
  width: 24px; }

@media (max-width: 500px) {
  main .tituloyfoto .imagenes img {
    height: 250px; }
  main .presentacion p {
    line-height: 25px; }
  main .disciplinas {
    font-size: 13px; }
  main .subtitulos h3 {
    padding: 40px;
    font-size: 26px; }
  main .subtitulos .textosobremi {
    flex-direction: column; }
    main .subtitulos .textosobremi .fotoyo img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      height: 150px; }
    main .subtitulos .textosobremi .p3 .p3::-webkit-scrollbar-thumb {
      background-color: #3b3a3a; }
  main .subtitulos .palabrassobremi {
    font-size: 13px;
    letter-spacing: 0; }
    main .subtitulos .palabrassobremi .estetica {
      padding: 10px; }
    main .subtitulos .palabrassobremi .mas {
      padding: 10px; }
    main .subtitulos .palabrassobremi .funcionalidad {
      padding: 10px; }
    main .subtitulos .palabrassobremi .usabilidad {
      padding: 10px; }
  main .subtitulos .proyectosnombres .caja {
    width: 150px;
    padding: 10px; }
  .formulario button {
    font-size: 14px;
    padding: 10px 20px 10px 20px; }
  footer {
    opacity: 0.75; } }
