@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900 &family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
.tituloyfoto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center; }

.presentacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }

.textosobremi {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left; }

.palabrassobremi {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center; }

.proyectosnombres {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center; }

.caja {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }

* {
  margin: 0px;
  padding: 0px; }

html {
  scroll-behavior: smooth; }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-color: #1E1E1D; }

.p3::-webkit-scrollbar {
  background-color: #CFC3E1;
  width: 7px; }

.p3::-webkit-scrollbar-thumb {
  background-color: #EA542A;
  border-radius: 10px; }

.p3:hover::-webkit-scrollbar-thumb {
  background-color: #EA542A; }

.p3::-webkit-scrollbar-button {
  display: none; }

.scrollwebsomos::-webkit-scrollbar,
.scrollappsomos::-webkit-scrollbar {
  background-color: #ffffff;
  width: 7px; }

.scrollwebsomos::-webkit-scrollbar-thumb,
.scrollappsomos::-webkit-scrollbar-thumb {
  background-color: #3e3e3e;
  border-radius: 10px; }

.scrollwebsomos::-webkit-scrollbar-button,
.scrollappsomos::-webkit-scrollbar-button {
  display: none; }

h4 {
  margin: 0;
  font-weight: 200;
  font-size: 36px;
  letter-spacing: 3.5px;
  font-weight: 400;
  padding-top: 150px;
  padding-bottom: 0px; }

.fecha {
  color: #676767;
  font-weight: 200;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  padding-top: 150px; }

.tipo {
  color: #676767;
  margin: 0;
  margin-top: -5px;
  font-size: 14px; }

.bajadaindividual {
  margin-top: 100px;
  width: 800px;
  text-align: center; }

.fotofinal {
  border-color: #020202;
  border-style: ridge;
  padding: 20px;
  padding-bottom: 200px;
  margin-bottom: 20px; }

.piefinal {
  font-size: 12px;
  font-weight: 400;
  margin: 40px; }

.prototipo {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  color: #3152a8;
  margin: 20px; }

.prototipo:hover {
  font-weight: 500; }

.carrouselPadre {
  width: 60%; }
  .carrouselPadre .dganchocarrousel {
    width: 100%;
    display: flex;
    justify-content: center; }
  .carrouselPadre .carrouselizquierda {
    display: flex;
    justify-content: end;
    margin: 0;
    padding: 0;
    width: 100%; }
  .carrouselPadre .carrousemedio {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%; }
  .carrouselPadre .carrouselderecha {
    display: flex;
    justify-content: start;
    margin: 0;
    padding: 0;
    width: 100%; }

header {
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  z-index: 1;
  top: 0;
  margin: 0;
  width: 100%;
  padding: 0px; }
  header nav {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0.90;
    padding-top: 15px; }
    header nav .logo a {
      text-decoration: none;
      color: #fafafa;
      opacity: 0.7;
      font-size: 40px;
      letter-spacing: 3px;
      font-weight: 800; }
    header nav .menu {
      text-align: center;
      display: flex;
      justify-content: space-between;
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: 1.3px;
      list-style: none;
      margin-bottom: 0; }
      header nav .menu li a {
        text-decoration: none;
        margin-left: 35px;
        color: #fafafa; }
        header nav .menu li a:hover {
          transition: 0.3s ease-in-out;
          font-weight: 600; }

main .tituloyfoto {
  display: flex;
  flex-direction: row;
  background-image: url("../imagenes/head-01.png");
  background-repeat: no-repeat;
  background-position: right;
  margin: 100;
  padding-top: 200px;
  padding-bottom: 400px;
  margin-right: 0;
  padding-right: 0;
  padding-bottom: 180px; }
  main .tituloyfoto .titulo {
    text-align: center;
    color: #fafafa;
    padding-right: 30px;
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: -150px;
    letter-spacing: 0px;
    line-height: 80px;
    text-align: left; }
    main .tituloyfoto .titulo h1 {
      margin-bottom: -50px; }
    main .tituloyfoto .titulo h2 {
      color: #EA542A; }
  main .tituloyfoto .imagenes img {
    width: 100%; }

main .presentacion {
  font-size: 17px;
  line-height: 30px;
  padding: 50px;
  color: #fafafa; }
  main .presentacion .hola {
    font-size: 46px;
    letter-spacing: 3.5px;
    padding: 30px;
    margin-bottom: 30px;
    color: #EA542A; }
  main .presentacion .lineahola {
    margin-top: -20px;
    border-color: #fafafa;
    border-style: ridge;
    margin-bottom: 20px;
    width: 60%; }

main p {
  margin-bottom: 45px;
  width: 50%;
  text-align: center; }

.disciplinas {
  color: #C7D4B9;
  text-align: center;
  font-size: 50px;
  letter-spacing: 3.5px;
  padding-top: 50px;
  padding-bottom: 50px; }

.subtitulos .sectorsobremi {
  background-color: #CFC3E1;
  position: relative;
  padding: 40px; }
  .subtitulos .sectorsobremi #sobremi {
    color: #EA542A;
    opacity: 0.9;
    padding: 40px;
    font-size: 120px;
    letter-spacing: 3.5px;
    margin-bottom: -100px;
    line-height: 100px;
    text-align: left;
    position: absolute;
    z-index: 1; }
  .subtitulos .sectorsobremi .textosobremi {
    z-index: 2; }
    .subtitulos .sectorsobremi .textosobremi .fotoyo img {
      width: 100%; }
    .subtitulos .sectorsobremi .textosobremi .p3 {
      font-size: 14px;
      color: #1E1E1D;
      width: 600px;
      height: 300px;
      overflow: auto;
      padding: 20px;
      padding-top: 10px;
      line-height: 20px;
      border-radius: 15px;
      box-shadow: inset 0px -8px 20px -5px rgba(0, 0, 0, 0.1); }
  .subtitulos .sectorsobremi .palabrassobremi {
    color: #fafafa;
    font-size: 20px;
    letter-spacing: 2px;
    margin-left: 35%;
    margin-right: 35%; }
    .subtitulos .sectorsobremi .palabrassobremi .estetica {
      margin-top: 30px;
      padding: 50px; }
    .subtitulos .sectorsobremi .palabrassobremi .mas {
      margin-top: 30px;
      padding: 50px; }
    .subtitulos .sectorsobremi .palabrassobremi .funcionalidad {
      margin-top: 30px;
      padding: 50px; }
    .subtitulos .sectorsobremi .palabrassobremi .usabilidad {
      margin-top: 30px;
      padding: 50px; }

.subtitulos .sectorproyectos {
  background-color: #EA542A;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 60px;
  padding: 40px;
  text-align: center; }
  .subtitulos .sectorproyectos #proyectos {
    color: #CFC3E1;
    padding: 40px;
    font-size: 120px;
    letter-spacing: 3.5px;
    line-height: 100px;
    text-align: left; }
  .subtitulos .sectorproyectos .proyectosnombres {
    width: 60%;
    text-align: right; }

@keyframes animacion2 {
  0% {
    box-shadow: 0 0 20px 0px #fafafa;
    border: #EA542A; }
  100% {
    box-shadow: #fafafa; } }

@keyframes animacioncaja {
  0% {
    box-shadow: #fafafa; }
  100% {
    box-shadow: 0 0 20px 0px #fafafa;
    border-style: none; } }
    .subtitulos .sectorproyectos .proyectosnombres .caja {
      text-decoration: none;
      background-color: #1E1E1D;
      width: 230px;
      height: 500px;
      border-radius: 30px;
      margin: 10px;
      animation: animacion2 1s ease-in-out 0s 1 normal both; }
      .subtitulos .sectorproyectos .proyectosnombres .caja:hover {
        animation: animacioncaja 1s ease-in-out 0s 1 normal both; }
      .subtitulos .sectorproyectos .proyectosnombres .caja:active {
        color: #fafafa; }
      .subtitulos .sectorproyectos .proyectosnombres .caja .portada {
        width: 100%;
        height: 100%; }
      .subtitulos .sectorproyectos .proyectosnombres .caja .aua,
      .subtitulos .sectorproyectos .proyectosnombres .caja .cargadorya,
      .subtitulos .sectorproyectos .proyectosnombres .caja .digram,
      .subtitulos .sectorproyectos .proyectosnombres .caja .somos,
      .subtitulos .sectorproyectos .proyectosnombres .caja .ecorappi,
      .subtitulos .sectorproyectos .proyectosnombres .caja .hayrancho,
      .subtitulos .sectorproyectos .proyectosnombres .caja .keepgoing {
        border-radius: 10px;
        border: 1px solid #C7D4B9;
        padding: 5px 10px;
        text-decoration: none;
        color: #C7D4B9;
        font-size: 26px;
        letter-spacing: 3.5;
        margin-top: 10px; }
    .subtitulos .sectorproyectos .proyectosnombres .etiqueta {
      color: #aeacac;
      font-size: 12px;
      font-weight: 300;
      padding: 10px; }
    .subtitulos .sectorproyectos .proyectosnombres hr.lineacaja {
      margin-top: 10px;
      margin-bottom: 10px;
      border: none;
      border-top: 1px solid #616060;
      width: 90%; }
    .subtitulos .sectorproyectos .proyectosnombres .bajadadeproyecto {
      padding: 20px;
      color: #fafafa;
      margin-top: 10px;
      font-size: 12px;
      font-weight: 400;
      text-align: left; }

.subtitulos .contactoyimg {
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url("../imagenes/semicirculo-04.png");
  background-repeat: no-repeat;
  background-position: right; }
  .subtitulos .contactoyimg #contacto {
    color: #C7D4B9;
    opacity: 0.9;
    font-size: 120px;
    letter-spacing: 3.5px;
    line-height: 100px;
    text-align: right; }

.subtitulos .formulario {
  max-width: 400px;
  margin: 0;
  padding-left: 30px;
  border-radius: 10px;
  padding-bottom: 20px;
  text-align: center; }
  .subtitulos .formulario input {
    width: 100%;
    background-color: #1E1E1D;
    color: #fafafa;
    padding: 8px;
    border: 1px solid #CFC3E1;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px; }
  .subtitulos .formulario textarea {
    width: 100%;
    background-color: #1E1E1D;
    color: #fafafa;
    padding: 8px;
    border: 1px solid #CFC3E1;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px; }
  .subtitulos .formulario button {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 11px 22px 11px 22px;
    border-radius: 6px;
    border-style: ridge;
    background-color: #1E1E1D;
    color: #fafafa;
    border-color: #CFC3E1;
    cursor: pointer; }
    .subtitulos .formulario button:hover {
      transition: 0.5s ease-in-out;
      color: #1E1E1D;
      background-color: #C7D4B9;
      border-color: #C7D4B9; }
    .subtitulos .formulario button:active {
      transition: 0.1s ease-in-out;
      background-color: #fafafa; }

.subtitulos body main .row.text-center.contenedorscrollsomos {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around; }
  .subtitulos body main .row.text-center.contenedorscrollsomos .scrollwebsomos.col-lg-8 {
    text-align: center;
    height: 420px;
    overflow: scroll; }

.subtitulos body main .row.text-center p.comentariosflyersomos.col {
  justify-content: center;
  font-size: 20px; }

.subtitulos body main .row.text-center .fotosflyersomos.col-lg-8.col-md-8.col-sm-9 {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around; }
  .subtitulos body main .row.text-center .fotosflyersomos.col-lg-8.col-md-8.col-sm-9 .flyer1 {
    margin: 5px;
    height: 80%;
    object-fit: cover;
    height: 200px; }
  .subtitulos body main .row.text-center .fotosflyersomos.col-lg-8.col-md-8.col-sm-9 .flyer2 {
    margin: 5px;
    height: 80%;
    object-fit: cover;
    height: 200px; }
  .subtitulos body main .row.text-center .fotosflyersomos.col-lg-8.col-md-8.col-sm-9 .flyer3 {
    margin: 5px;
    height: 80%;
    object-fit: cover;
    height: 200px; }

.subtitulos body main .row.text-center .row.text-center .col-lg-7.col-md-7.col-sm-6 div.fototickets {
  width: 80%; }

.subtitulos body main .row.text-center .row.text-center p.comentariosticketsomos.col {
  justify-content: center;
  font-size: 20px; }

.subtitulos body main .row.text-center .row.text-center .fotofinalsomos.col-lg-12.col-md-12.col-sm-12 {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around; }
  .subtitulos body main .row.text-center .row.text-center .fotofinalsomos.col-lg-12.col-md-12.col-sm-12 .storiesomos1 {
    margin: 10px;
    height: 90%;
    object-fit: cover;
    height: 200px; }
  .subtitulos body main .row.text-center .row.text-center .fotofinalsomos.col-lg-12.col-md-12.col-sm-12 div.storiesomos2 {
    margin: 10px;
    height: 90%;
    object-fit: cover;
    height: 200px; }
  .subtitulos body main .row.text-center .row.text-center .fotofinalsomos.col-lg-12.col-md-12.col-sm-12 div.storiesomos3 {
    margin: 10px;
    height: 90%;
    object-fit: cover;
    height: 200px; }
  .subtitulos body main .row.text-center .row.text-center .fotofinalsomos.col-lg-12.col-md-12.col-sm-12 div.storiesomos4 {
    margin: 10px;
    height: 90%;
    object-fit: cover;
    height: 200px; }
  .subtitulos body main .row.text-center .row.text-center .fotofinalsomos.col-lg-12.col-md-12.col-sm-12 div.storiesomos5 {
    margin: 10px;
    height: 90%;
    object-fit: cover;
    height: 200px; }
  .subtitulos body main .row.text-center .row.text-center .fotofinalsomos.col-lg-12.col-md-12.col-sm-12 div.storiesomos6 {
    margin: 10px;
    height: 90%;
    object-fit: cover;
    height: 200px; }

footer {
  color: #fafafa;
  text-align: center;
  padding: 10px;
  letter-spacing: 4px;
  background-color: #1E1E1D;
  opacity: 0.4;
  position: sticky;
  bottom: 0; }
  footer:hover {
    transition: 0.2s ease-in-out;
    opacity: 1; }
  footer .externos {
    display: grid;
    align-items: center;
    grid-template-areas: "logoli nombrefooter logobe" "logoli mailfooter logobe"; }
    footer .externos .nombrefooter {
      text-align: center;
      grid-area: nombrefooter;
      margin-bottom: 5px;
      color: #616060; }
    footer .externos .logoli {
      display: flex;
      justify-content: center;
      grid-area: logoli;
      align-self: center; }
      footer .externos .logoli img {
        width: 20px;
        opacity: 0.7; }
        footer .externos .logoli img:hover {
          transition: 0.2s ease-in-out;
          opacity: 1; }
        footer .externos .logoli img:active {
          transition: 0s;
          opacity: 0.5; }
    footer .externos .mailfooter {
      color: #fafafa;
      font-size: 14px;
      letter-spacing: 1px;
      text-decoration: none;
      grid-area: mailfooter; }
      footer .externos .mailfooter:hover {
        transition: 0.3s ease-in-out; }

.logobe {
  display: flex;
  justify-content: center;
  grid-area: logobe;
  align-self: center; }
  .logobe img {
    opacity: 0.7;
    width: 22px; }
    .logobe img:hover {
      transition: 0.2s ease-in-out;
      opacity: 1; }
    .logobe img:active {
      transition: 0s;
      opacity: 0.5; }

@media (max-width: 1100px) {
  main .tituloyfoto {
    flex-direction: column; }
    main .tituloyfoto .titulo {
      padding-bottom: 20px; }
    main .tituloyfoto .imagenes img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      height: 400px; }
  main .presentacion p {
    width: 70%; }
  main .subtitulos .palabrassobremi {
    font-size: 16px; }
    main .subtitulos .palabrassobremi .estetica {
      padding: 25px; }
    main .subtitulos .palabrassobremi .mas {
      padding: 25px; }
    main .subtitulos .palabrassobremi .funcionalidad {
      padding: 25px; }
    main .subtitulos .palabrassobremi .usabilidad {
      padding: 25px; }
  main .subtitulos .sectorproyectos {
    flex-direction: column; }
  main .bajadaindividual {
    padding-left: 100px;
    padding-right: 100px; }
  main .flyer1 img,
  main .flyer2 img,
  main .flyer3 img {
    height: 150px; } }

@media (max-width: 700px) {
  header nav {
    flex-direction: column;
    text-align: center; }
    header nav .logo {
      padding-bottom: 10px; }
  header .menu li a {
    margin: 20px; }
  main .tituloyfoto .titulo {
    padding: 0px;
    margin: 20; }
    main .tituloyfoto .titulo h1 {
      font-size: 50px;
      margin-bottom: -20px; }
    main .tituloyfoto .titulo h2 {
      font-size: 60px;
      letter-spacing: 8px;
      margin-bottom: 20px; }
  main .tituloyfoto .imagenes img {
    height: 250px; }
  main .presentacion .hola {
    font-size: 25px;
    line-height: 30px;
    padding: 20px; }
  main .presentacion .lineahola {
    width: 70%; }
  main .presentacion p {
    font-size: 14px; }
  main .subtitulos .textosobremi .fotoyo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    height: 150px; }
  main .subtitulos .textosobremi .p3 {
    margin-top: 10px;
    width: 300px;
    height: 200px; }
  main .subtitulos .palabrassobremi {
    font-size: 14px;
    letter-spacing: 1px; }
    main .subtitulos .palabrassobremi .estetica {
      padding: 16px;
      margin-top: 50px;
      margin-bottom: 50px; }
    main .subtitulos .palabrassobremi .mas {
      padding: 16px;
      margin-top: 50px;
      margin-bottom: 50px; }
    main .subtitulos .palabrassobremi .funcionalidad {
      padding: 16px;
      margin-top: 50px;
      margin-bottom: 50px; }
    main .subtitulos .palabrassobremi .usabilidad {
      padding: 16px;
      margin-top: 50px;
      margin-bottom: 50px; }
  main .subtitulos .proyectosnombres {
    margin-left: 30px;
    margin-right: 30px; }
    main .subtitulos .proyectosnombres .caja {
      width: 170px;
      margin-bottom: 20px; }
  footer .externos .nombrefooter {
    font-size: 14px; }
  footer .externos .logoli img {
    width: 20px; }
  footer .externos .mailfooter {
    font-size: 12px; } }

.logobe img {
  width: 24px; }

.logobe .fecha {
  display: none; }

.logobe .tipo {
  margin-top: 30px; }

.logobe .bajadaindividual {
  padding: 50px;
  font-size: 13px; }

.logobe .scrollwebsomos {
  height: 230px; }

.logobe .flyer1 img,
.logobe .flyer2 img,
.logobe .flyer3 img {
  height: 100px;
  margin: 5px; }

@media (max-width: 500px) {
  main .imagenes img {
    height: 250px; }
  .presentacion p {
    line-height: 25px; }
  .subtitulos h3 {
    padding: 40px;
    font-size: 26px; }
  .subtitulos .textosobremi {
    flex-direction: column; }
    .subtitulos .textosobremi .fotoyo img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      height: 150px; }
    .subtitulos .textosobremi .p3 .p3::-webkit-scrollbar-thumb {
      background-color: #3b3a3a; }
  .subtitulos .palabrassobremi {
    font-size: 13px;
    letter-spacing: 0; }
    .subtitulos .palabrassobremi .estetica {
      padding: 10px; }
    .subtitulos .palabrassobremi .mas {
      padding: 10px; }
    .subtitulos .palabrassobremi .funcionalidad {
      padding: 10px; }
    .subtitulos .palabrassobremi .usabilidad {
      padding: 10px; }
  .subtitulos .proyectosnombres .caja {
    width: 150px;
    padding: 10px; }
  .formulario button {
    font-size: 14px;
    padding: 10px 20px 10px 20px; }
  footer {
    opacity: 0.75; }
  h4 {
    font-size: 30px; }
  .fototickets {
    width: 40%; } }

@media (max-width: 62rem) {
  .slider-item-reveal {
    --swiffy-slider-item-reveal: 17rem; }
  .proyectonombres {
    width: 100%; } }
