@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900 &family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    color: #1f1d1d;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

header {
    position: fixed;
    top: 0;
    margin: 0;
    width: 100%;
    padding: 0px;
}

/* elimino estilos naturales de bootstrap */
hr {
    padding: 0;
    margin: 0;
}

nav ul {
    text-align: center;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    letter-spacing: 1.3px;
    list-style: none;
    font-weight: 200;
}

nav {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    background-color: #ffffff;
    opacity: 0.90;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu li a:hover,
.logo a:hover {
    font-weight: 600;
}

.logo a {
    text-decoration: none;
    color: #020202;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 3px;
}

.menu {
    text-align: center;
    font-weight: 400;
}

.menu li a {
    text-decoration: none;
    margin-left: 30px;
    color: #020202;
}

.titulo {
    text-align: center;
    font-weight: 300;
    color: #fafafa;
}

.p1 {
    font-size: 80px;
    margin-bottom: -20px;
}

.p2 {
    letter-spacing: 8px;
    font-size: 100px;
    font-weight: 400;
}

.tituloyfoto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100;
    padding: 120px;
    background-color: #020202;
}

.titulo {
    padding-right: 30px;
}

.presentacion {
    font-size: 17px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hola {
    font-size: 32px;
    font-weight: 200;
    line-height: 52px;
    letter-spacing: 3.5px;
    padding: 30px;
    margin-bottom: 20px;
}

.lineahola {
    margin-top: -20px;
    margin-bottom: 20px;
    width: 60%;
}

p {
    margin-bottom: 45px;
    width: 50%;
    text-align: center;
}

.disciplinas {
    text-align: center;
    font-weight: 200;
    font-size: 50px;
    letter-spacing: 3.5px;
    padding-top: 50px;
    padding-bottom: 50px;
}    

.textosobremi {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.p3 {
    font-weight: 400;
    font-size: 14px;
    width: 600px;
    height: 300px;
    overflow: auto;
    padding: 20px;
    padding-top: 10px;
    line-height: 20px;
    border-radius: 5px;
    box-shadow: inset 0px -8px 10px -5px rgba(0,0,0,0.1);
  }

.p3::-webkit-scrollbar {
    background-color: #ffffff;
    width: 7px;
}

.p3::-webkit-scrollbar-thumb {
    background-color: #3e3e3e;
    border-radius: 10px;
}

.p3::-webkit-scrollbar-button {
    display: none;
}

.palabrassobremi {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2px;
    margin-left: 35%;
    margin-right: 35%;
}

.estetica,
.usabilidad,
.funcionalidad,
.mas {
    margin-top: 30px;
    padding: 50px;
}

h3 {
    font-weight: 200;
    padding: 40px;
    font-size: 32px;
    letter-spacing: 3.5px;
    font-weight: 300;
    text-align: center;
}

.caja {
    width: 250px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
}

.proyectosnombres {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.digram,
.keepgoing,
.hayrancho,
.ecorappi,
.somos,
.cargadorya {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 3.5;
    color: #020202;
    margin-top: 10px;
}


.etiqueta {
    font-size: 12px;
    font-weight: 300;
    padding: 10px;
}

.lineacaja {
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    border-top: 1px solid #676767;
    width: 90%;
}

.bajadadeproyecto {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 400;
}

.digram:hover,
.keepgoing:hover,
.hayrancho:hover,
.cargadorya:hover,
.somos:hover,
.ecorappi:hover {
    font-weight: 500;
}

.digram:active,
.keepgoing:active,
.hayrancho:active,
.ecorappi:active,
.somos:active,
.cargadorya:active {
    color: rgb(168, 168, 168);
}

.caja:hover,
.lineacaja {
    border-width: 1px;
    border-color: #252525;
}

.bajada {
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    margin-top: 50px;
}

.formulario {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    margin-bottom: 20px;
}

.formulario label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.formulario input[type="text"],
.formulario textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

.formulario .btn {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.formulario input[type="button"] {
    background-color: #000000;
    color: white;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.formulario input[type="button"]:hover {
    padding: 20px;
}

.formulario input[type="button"]:active {
    color: rgb(168, 168, 168);
}

footer {
    color: #e8e8e8;
    text-align: center;
    padding: 10px;
    letter-spacing: 4px;
    background-color: #1b1b1b;
    opacity: 0.15;
    position: sticky;
    bottom: 0;
}

.externos {
    display: grid;
    align-items: center;
    grid-template-areas:
        "logoli nombrefooter logobe"
        "logoli mailfooter logobe";
}

.logoli,
.logobe {
    display: flex;
    justify-content: center;
}

.logoli img {
    width: 20px;
    grid-area: logoli;
}

.logobe img {
    width: 27px;
    grid-area: logobe;
}

.logoli img:hover {
    width: 22px;
}

.logobe img:hover {
    width: 29px;
}

.nombrefooter {
    text-align: center;
    grid-area: nombrefooter;
    margin-bottom: 5px;
    color: #a7a7a7;
}

.mailfooter {
    color: #e8e8e8;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: none;
    grid-area: mailfooter;
}

.mailfooter:hover {
    font-weight: 500;
}

footer:hover {
    opacity: 1;
}

h4 {
    margin: 0;
    font-weight: 200;
    font-size: 36px;
    letter-spacing: 3.5px;
    font-weight: 400;
    padding-top: 150px;
    padding-bottom: 0px;
}

.fecha {
    color: #676767;
    font-weight: 200;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    padding-top: 150px;
}

.tipo {
    color: #676767;
    margin: 0;
    margin-top: -5px;
    font-size: 14px;
}

.bajadaindividual {
    padding: 70px;
    font-size: 15px;
    font-weight: 500;
    padding-left: 200px;
    padding-right: 200px;
}

.fotosdeproyectoizq {
    border-color: #020202;
    border-style: ridge;
    padding: 20px;
    padding-bottom: 200px;
    margin-bottom: 50px;
}

.comentariosder {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 50px;
}

.fotosdeproyectoder {
    border-color: #020202;
    border-style: ridge;
    padding: 20px;
    margin-bottom: 50px;
}

.comentariosizq {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 50px;
}

.fotofinal {
    border-color: #020202;
    border-style: ridge;
    padding: 20px;
    padding-bottom: 200px;
    margin-bottom: 20px;
}

.piefinal {
    font-size: 12px;
    font-weight: 400;
    margin: 40px;
}


/*SOMOS*/

.contenedorscrollsomos {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.scrollwebsomos {
    text-align: center;
    height: 420px;
    overflow: scroll;
}

.imagenwebsomos img{
    width: 100%;
}

.scrollappsomos {
    text-align: center;
    height: 320px;
    width: 200px;
    overflow: scroll;
}

.scrollappsomos img {
    width: 100%;
}

.scrollwebsomos::-webkit-scrollbar,
.scrollappsomos::-webkit-scrollbar {
    background-color: #ffffff;
    width: 7px;
}

.scrollwebsomos::-webkit-scrollbar-thumb,
.scrollappsomos::-webkit-scrollbar-thumb {
    background-color: #3e3e3e;
    border-radius: 10px;
}

.scrollwebsomos::-webkit-scrollbar-button,
.scrollappsomos::-webkit-scrollbar-button {
    display: none;
}

.fotosflyersomos {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.comentariosflyersomos,
.comentariosticketsomos {
    justify-content: center;
    font-size: 20px;
}

.flyer1 img,
.flyer2 img,
.flyer3 img {
    margin: 5px;
    height: 80%;
    object-fit: cover;
    height: 200px;
}

.fototickets {
    width: 80%;
}

.fotofinalsomos {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.storiesomos1 img,
.storiesomos2 img,
.storiesomos3 img,
.storiesomos4 img,
.storiesomos5 img,
.storiesomos6 img {
    margin: 10px;
    height: 90%;
    object-fit: cover;
    height: 200px;
}


/*MEDIA*/

@media (max-width:1100px) {
    .tituloyfoto {
        flex-direction: column;
    }

    .imagenes img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        height: 400px;
    }

    p {
        width: 70%;
    }

    .disciplinas {
        font-size: 24px;
        font-weight: 300;
        padding-top: 0px;
    }

    .palabrassobremi {
        font-size: 16px;
    }

    .estetica,
    .usabilidad,
    .funcionalidad,
    .mas {
        padding: 25px;
    }

    .bajadaindividual {
        padding-left: 100px;
        padding-right: 100px;
    }

    .flyer1 img,
    .flyer2 img,
    .flyer3 img {
        height: 150px;
    }

}

@media (max-width:700px) {

    .menu li a {
        margin: 20px;
    }

    .disciplinas {
        font-size: 16px;
        font-weight: 300;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    nav {
        flex-direction: column;
        text-align: center;
    }

    .logo {
        padding-bottom: 10px;
    }

    .titulo {
        padding: 0px;
        margin: 20;
    }

    .imagenes img {
        height: 250px;
    }

    .p1 {
        font-size: 50px;
        margin-bottom: -20px;
    }

    .p2 {
        font-size: 60px;
        letter-spacing: 8px;
    }

    .presentacion {
        padding: 20px;
    }

    .hola {
        font-size: 25px;
        line-height: 30px;
        padding: 20px;
    }

    p {
        font-size: 14px;
    }

    .lineahola {
        width: 70%;
    }

    .textosobremi {
        flex-direction: column;
    }

    .fotoyo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .p3 {
        margin-top: 10px;
        width: 300px;
        height: 200px;
    }

    .palabrassobremi {
        font-size: 14px;
        letter-spacing: 1px;
    }

    .estetica,
    .usabilidad,
    .funcionalidad,
    .mas {
        padding: 16px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .proyectosnombres {
        margin-left: 30px;
        margin-right: 30px;
    }

    .caja {
        width: 170px;
        margin-bottom: 20px;
    }

    .fecha {
        display: none;
    }

    .tipo {
        margin-top: 30px;
    }

    .bajadaindividual {
        padding: 50px;
        font-size: 13px;
    }

    .logoli img {
        width: 20px;
    }

    .logobe img {
        width: 24px;
    }

    .nombrefooter {
        font-size: 14px;
    }

    .mailfooter {
        font-size: 12px;
    }

    .scrollwebsomos {
        height: 230px;
    }

    .flyer1 img,
    .flyer2 img,
    .flyer3 img {
        height: 100px;
        margin: 5px;
    }
}

@media (max-width:500px) {
    .imagenes img {
        height: 250px;
    }

    .disciplinas {
        font-size: 13px;
    }

    .palabrassobremi {
        font-size: 13px;
        letter-spacing: 0;
    }

    .estetica,
    .usabilidad,
    .funcionalidad,
    .mas {
        padding: 10px;
    }

    h3 {
        padding: 40px;
        font-size: 26px;
    }

    .caja {
        width: 150px;
        padding: 10px;
    }

    .formulario input[type="button"] {
        font-size: 14px;
        padding: 10px 20px 10px 20px;
    }

    footer {
        opacity: 0.75;
    }

    h4 {
        font-size: 30px;
    }

    .comentariosder {
        margin-left: 50px;
        margin-right: 50px;
    }

    .comentariosizq {
        margin-left: 50px;
        margin-right: 50px;
    }

    .scrollwebsomos {
        height: 200px;
    }

    .scrollappsomos {
        height: 350px;
    }

    .scrollappsomos img {
        width: 180px;
    }

    .fototickets {
        width: 40%;
    }
}