@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900 &family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    color: #1f1d1d;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

header {
    position: fixed;
    top: 0;
    margin-right: 50px;
    width: 100%;
    padding: 0px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    letter-spacing: 1.3px;
    list-style: none;
    font-weight: 200;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #ffffff;
    opacity: 0.90;
    padding: 10px;
}

.menu li a:hover,
.logo a:hover {
    font-weight: 600;
}

.logo a {
    text-decoration: none;
    font-weight: 500;
    color: #020202;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 3px;
}

.menu {
    text-align: center;
    font-weight: 400;
}

.menu li a {
    text-decoration: none;
    margin-left: 30px;
    margin-right: 10px;
    color: #020202;
}

.titulo {
    text-align: center;
    font-weight: 300;
    color: #fafafa;
}

p1 {
    font-size: 80px;
}

p2 {
    letter-spacing: 10px;
    font-size: 100px;
}

.tituloyfoto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100;
    padding: 150px;
    background-color: #020202;
}

.presentacion {
    font-size: 17px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hola {
    font-size: 32px;
    font-weight: 200;
    line-height: 52px;
    letter-spacing: 3.5px;
    padding: 30px;
    margin-bottom: 20px;
}

.lineahola {
    margin-top: -20px;
    margin-bottom: 20px;
    width: 60%;
}

p {
    margin-bottom: 45px;
    width: 50%;
    text-align: center;
}

.disciplinas {
    text-align: center;
    font-weight: 200;
    font-size: 56px;
    letter-spacing: 3.5px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.textosobremi {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

p3 {
    font-weight: 400;
    font-size: 14px;
    width: 600px;
    height: 300px;
    overflow: hidden;
    padding: 20px;
    padding-top: 10px;
    line-height: 20px;
}

p3:hover {
    overflow: auto;
}

p3::-webkit-scrollbar-track {
    background-color: black;
}

.palabrassobremi {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2px;
    margin-left: 35%;
    margin-right: 35%;
}

.estetica,
.usabilidad,
.funcionalidad,
.mas {
    margin-top: 30px;
    padding: 50px;
}

h3 {
    font-weight: 200;
    padding: 40px;
    font-size: 32px;
    letter-spacing: 3.5px;
    font-weight: 300;
    text-align: center;
}

.caja {
    width: 250px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
}

.proyectosnombres {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.digram,
.keepgoing,
.hayrancho,
.cargadorya {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 3.5;
    color: #020202;
    margin-top: 10px;
}


.etiqueta {
    font-size: 12px;
    font-weight: 300;
    padding: 10px;
}

.lineacaja {
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    border-top: 1px solid #676767;
    width: 90%;
}

.bajadadeproyecto {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 400;
}

.digram:hover,
.keepgoing:hover,
.hayrancho:hover,
.cargadorya:hover {
    font-weight: 500;
}

.digram:active,
.keepgoing:active,
.hayrancho:active,
.cargadorya:active {
    color: rgb(168, 168, 168);
}

.caja:hover,
.lineacaja {
    border-width: 1px;
    border-color: #252525;
}

h4 {
    font-weight: 500;
    font-size: 30px;
    margin: 100px;
    text-align: center;
}

.grafico {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}

.bajada {
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    margin-top: 50px;
}

.fecha {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    padding-right: 50px;
    margin-top: -70px;
    text-align: right;
    color: #7f7f7f;
}

.formulario {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fafafa;
    border-radius: 5px;
}

.formulario label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.formulario input[type="text"],
.formulario textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
}

.formulario select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin: 10px;
}

.formulario .btn {
    text-align: center;
    margin: 10px;
}

.formulario input[type="button"] {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.formulario select {
    font-family: 'Montserrat', sans-serif;
}

.formulario input[type="button"]:hover {
    padding: 11px 22px;
}

.formulario input[type="button"]:active {
    color: rgb(168, 168, 168);
}

footer {
    color: #e8e8e8;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    margin: 5px;
    padding: 10px;
    width: 100%;
    letter-spacing: 4px;
    background-color: #1b1b1b;
    opacity: 0.15;
    position: sticky;
    bottom: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    align-items: center;
    grid-template-areas: 
    "logoli nombrefooter logobe"
    "logoli mailfooter logobe";
  }
  
.logoli, .logobe {
    display: flex;
    flex-direction:row;
}

  .logoli img {
    width: 20px;
    grid-area: logoli;
  }
  
  .logobe img {
    width: 27px;
    grid-area: logobe;
  }
  
  .nombrefooter {
    text-align: center;
    grid-area: nombrefooter;
  }
  
  .mailfooter {
    color: #e8e8e8;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: none;
    grid-area: mailfooter;
  }

footer:hover {
    opacity: 1;
}


/*MEDIA*/

@media (max-width:1100px){
    .tituloyfoto{ /*no me esta quedando - achciar foto y tipografia*/
        flex-direction: column;
    }
    p {
        width: 70%;
    }
    .disciplinas{
        font-size: 24px;
        font-weight: 300;
        padding-top: 0px;
    }
    .palabrassobremi {
        font-size: 16px;
    }
    .estetica,
    .usabilidad,
    .funcionalidad,
    .mas {
        padding: 25px;
    }
}
@media (max-width:700px){
    .disciplinas{
        font-size: 16px;
        font-weight: 300;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    nav{ /*tengo que ver porque se me va al costao la navbar*/
        flex-direction: column;
        text-align: center;
     }
     .logo {
         padding-bottom: 10px;
     }
     .titulo{
        padding: 0px;
        margin: 20;
    }
    .presentacion{
        padding: 20px;
    }
    .hola{
        font-size: 25px;
        line-height: 30px;
        padding: 20px;
    }
    p{
        font-size: 14px;
    }
    .lineahola {
        width: 70%;
    }
    .textosobremi {
        flex-direction: column;
    }
    p3 { /*achicar imagen*/
        font-size: 12px;
        width: 330px;
    }
    .palabrassobremi {
        font-size: 14px;
        letter-spacing: 1px;
    }
    .estetica,
    .usabilidad,
    .funcionalidad,
    .mas {
        padding: 16px;
    }
    .proyectosnombres{
        margin-left: 30px;
        margin-right: 30px;
    }
    .caja {
        width: 170px;
        margin-bottom: 20px;
    }
}
@media (max-width:500px){
    .disciplinas{
        font-size: 13px;
    }
    .palabrassobremi {
        font-size: 13px;
        letter-spacing: 0;
    }
    .estetica,
    .usabilidad,
    .funcionalidad,
    .mas {
        padding: 10px;
    }
    h3 {
        padding: 40px;
        font-size: 26px;
    }
    .caja {
        width: 150px;
        padding: 10px;
    }
}