footer {
  color: $fondo;
  text-align: center;
  padding: 10px;
  letter-spacing: 4px;
  background-color: #434343;
  opacity: 0.1;
  position: sticky;
  bottom: 0;

  &:hover {
    background-color: $negroLavado;
    transition: 0.2s ease-in-out;
    opacity: 1;
  }

  .externos {
    display: grid;
    align-items: center;
    grid-template-areas:
      "logoli nombrefooter logobe"
      "logoli mailfooter logobe";

    .nombrefooter {
      text-align: center;
      grid-area: nombrefooter;
      margin-bottom: 5px;
      color: #a7a7a7;
    }

    .logoli {
      display: flex;
      justify-content: center;
      grid-area: logoli;
      align-self: center;

      img {
        width: 20px;
        opacity: 0.7;

        &:hover {
          transition: 0.2s ease-in-out;
          opacity: 1;
        }
        &:active {
          transition: 0s;
          opacity: 0.5;
        }
      }
    }

    .mailfooter {
      color: $fondo;
      font-size: 14px;
      letter-spacing: 1px;
      text-decoration: none;
      grid-area: mailfooter;

      &:hover {
        transition: 0.3s ease-in-out;
      }

    }
  }
}

.logobe {
  display: flex;
  justify-content: center;
  grid-area: logobe;
  align-self: center;

  img {
    opacity: 0.7;
    width: 22px;
    &:hover {
      transition: 0.2s ease-in-out;
      opacity: 1;
    }
    &:active {
      transition: 0s;
      opacity: 0.5;
    }
  }
}