main {
    .tituloyfoto {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 100;
      padding: 120px;
      padding-bottom: 180px;
      background-color: #020202;
      .titulo {
        text-align: center;
        font-weight: 300;
        color: #fafafa;
        padding-right: 30px;
        .p1 {
          font-size: 80px;
          margin-bottom: -20px;
        }
        .p2 {
          letter-spacing: 8px;
          font-size: 100px;
          font-weight: 400;
        }
      }
    }
  
    .presentacion {
      font-size: 17px;
      font-weight: 300;
      line-height: 30px;
      text-align: center;
      padding: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .hola {
        font-size: 32px;
        font-weight: 200;
        line-height: 52px;
        letter-spacing: 3.5px;
        padding: 30px;
        margin-bottom: 20px;
      }
      .lineahola {
        margin-top: -20px;
        margin-bottom: 20px;
        width: 60%;
        -webkit-animation-name: slideLeftReturn;
        animation-name: slideLeftReturn;
        }
      p {
        margin-bottom: 45px;
        width: 50%;
        text-align: center;
      }
    }
  
    .disciplinas {
      text-align: center;
      font-weight: 200;
      font-size: 50px;
      letter-spacing: 3.5px;
      padding-top: 50px;
      padding-bottom: 50px;
    }
  
    .subtitulos {
      h3 {
        font-weight: 200;
        padding: 40px;
        font-size: 32px;
        letter-spacing: 3.5px;
        font-weight: 300;
        text-align: center;
      }
      .textosobremi {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        .fotoyo {
          img {
            width: 100%;
          }
        }
        .p3 {
          font-weight: 400;
          font-size: 14px;
          width: 600px;
          height: 300px;
          overflow: auto;
          padding: 20px;
          padding-top: 10px;
          line-height: 20px;
          border-radius: 5px;
          box-shadow: inset 0px -8px 20px -5px rgba(0,0,0,0.1);
        }
      }
      .palabrassobremi {
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-weight: 600;
        font-size: 20px;
        letter-spacing: 2px;
        margin-left: 35%;
        margin-right: 35%;
        .estetica {
          margin-top: 30px;
          padding: 50px;
        }
        .mas {
          margin-top: 30px;
          padding: 50px;
        }
        .funcionalidad {
          margin-top: 30px;
          padding: 50px;
        }
        .usabilidad {
          margin-top: 30px;
          padding: 50px;
        }
      }
      .proyectosnombres {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        .caja {
          color: #000000;
          text-decoration: none;
          width: 250px;
          margin: 0 auto;
          border: 1px solid #ccc;
          padding: 20px;
          border-radius: 2px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          margin: 10px;
            &:hover{
              transition: 0.5s ease-in-out;
              border-color: #1f1f1f;
              border-width: 1px;
            }
            &:active {
              color: rgb(168, 168, 168);
            }
          .cargadorya, .digram, .somos, .ecorappi, .hayrancho, .keepgoing {
            text-decoration: none;
            color: #333;
            font-weight: bold;
            display: inline-block;
            text-align: center;
            text-decoration: none;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 3.5;
            color: #020202;
            margin-top: 10px;
            
          }
          .etiqueta {
            font-size: 12px;
            font-weight: 300;
            padding: 10px;
          }
          hr.lineacaja {
            margin-top: 10px;
            margin-bottom: 20px;
            border: none;
            border-top: 1px solid #676767;
            width: 90%;
          }
          .bajadadeproyecto {
            margin-top: 10px;
            font-size: 12px;
            font-weight: 400;
          }
        }
      }
    }
    .formulario {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      background-color: #f4f4f4;
      border-radius: 5px;
      margin-bottom: 20px;
      input{
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      textarea {
        width: 100%;
        padding: 8px;
        border: 1px solid white;
        border-radius: 4px;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      button {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        color: #fafafa;
        background-color: #000000;
        padding: 11px 22px 11px 22px;
        border-radius: 6px;
        border-style: ridge;
        background-color: #f4f4f4;
        color: #171616;
        border-color: #1f1f1f;
        cursor: pointer;
          &:hover{
            transition: 0.5s ease-in-out;
            color: #fafafa;
            background-color: #000000;
          }
          &:active{
            transition: 0.1s ease-in-out;
            background-color: rgb(194, 194, 194);
          }
        }
      }
    
    }  