main {
  .tituloyfoto {
    margin: 100;
    padding: 120px;
    padding-bottom: 180px;
    background-color: $negroPleno;

    .titulo {
      text-align: center;
      color: $fondo;
      padding-right: 30px;

      h1 {
        font-size: 80px;
        margin-bottom: -20px;
      }

      h2 {
        letter-spacing: 8px;
        font-size: 100px;
      }
    }
  }

  .presentacion {
    font-size: 17px;
    line-height: 30px;
    padding: 50px;

    .hola {
      font-size: 32px;
      line-height: 52px;
      letter-spacing: 3.5px;
      padding: 30px;
      margin-bottom: 20px;
    }

    .lineahola {
      margin-top: -20px;
      margin-bottom: 20px;
      width: 60%;

    }}

    p {
      margin-bottom: 45px;
      width: 50%;
      text-align: center;
    }
  }

  .disciplinas {
    text-align: center;
    font-size: 50px;
    letter-spacing: 3.5px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .subtitulos {
    h3 {
      padding: 40px;
      font-size: 32px;
      letter-spacing: 3.5px;
      font-weight: 300;
      text-align: center;
    }

    .textosobremi {

      .fotoyo {
        img {
          width: 100%;
        }
      }

      .p3 {
        font-size: 14px;
        width: 600px;
        height: 300px;
        overflow: auto;
        padding: 20px;
        padding-top: 10px;
        line-height: 20px;
        border-radius: 5px;
        box-shadow: inset 0px -8px 20px -5px rgba(0, 0, 0, 0.1);
      }
    }

    .palabrassobremi {
      font-size: 20px;
      letter-spacing: 2px;
      margin-left: 35%;
      margin-right: 35%;

      .estetica {
        margin-top: 30px;
        padding: 50px;
      }

      .mas {
        margin-top: 30px;
        padding: 50px;
      }

      .funcionalidad {
        margin-top: 30px;
        padding: 50px;
      }

      .usabilidad {
        margin-top: 30px;
        padding: 50px;
      }
    }

    .proyectosnombres {
      flex-wrap: wrap;

      .caja {
        color: $negroPleno;
        text-decoration: none;
        width: 250px;
        margin: 0 auto;
        border: 1px solid $negroLavado;
        padding: 20px;
        border-radius: 2px;
        margin: 10px;

        &:hover {
          transition: 0.5s ease-in-out;
          border-color: $negroPleno;
          border-width: 2px;
        }

        &:active {
          color: $fondo;
        }

        .aua,
        .cargadorya,
        .digram,
        .somos,
        .ecorappi,
        .hayrancho,
        .keepgoing {
          text-decoration: none;
          color: $negroPleno;
          font-weight: bold;
          display: inline-block;
          text-align: center;
          text-decoration: none;
          font-size: 20px;
          letter-spacing: 3.5;
          color: $negroPleno;
          margin-top: 10px;
        }

        .etiqueta {
          font-size: 12px;
          font-weight: 300;
          padding: 10px;
        }

        hr.lineacaja {
          margin-top: 10px;
          margin-bottom: 20px;
          border: none;
          border-top: 1px solid #676767;
          width: 90%;
        }

        .bajadadeproyecto {
          margin-top: 10px;
          font-size: 12px;
          font-weight: 400;
          text-align: left;
        }
      }
    }
  }

  .formulario {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: $fondo;
    border-radius: 5px;
    margin-bottom: 20px;

    input {
      width: 100%;
      padding: 8px;
      border: 1px solid $negroLavado;
      border-radius: 4px;
      box-sizing: border-box;
      font-family: 'Montserrat', sans-serif;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    textarea {
      width: 100%;
      padding: 8px;
      border: 1px solid $negroLavado;
      border-radius: 4px;
      box-sizing: border-box;
      font-family: 'Montserrat', sans-serif;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    button {
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px;
      color: $fondo;
      background-color: $negroPleno;
      padding: 11px 22px 11px 22px;
      border-radius: 6px;
      border-style: ridge;
      background-color: $fondo;
      color: $negroLavado;
      border-color: $negroLavado;
      cursor: pointer;

      &:hover {
        transition: 0.5s ease-in-out;
        color:$fondo;
        background-color: $negroPleno;
      }

      &:active {
        transition: 0.1s ease-in-out;
        background-color: $fondo;
      }
    }
  }


// DIGRAM

html {
  // Estilos para el elemento <html>
}

body {
  // Estilos para el elemento <body>
}

header {
  // Estilos para el elemento <header>

  nav {
    // Estilos para el elemento <nav>

    .logo {
      // Estilos para el elemento con la clase "logo" dentro de <nav>
    }

    .menu {
      // Estilos para el elemento con la clase "menu" dentro de <nav>

      li {

        // Estilos para los elementos <li> dentro de .menu
        a {
          // Estilos para los elementos <a> dentro de los <li> en .menu
        }
      }
    }
  }

  hr {
    // Estilos para el elemento <hr> dentro de <header>
  }
}

main {
  // Estilos para el elemento <main>

  .container {
    // Estilos para el elemento con la clase "container" dentro de <main>

    .row {
      // Estilos para los elementos con la clase "row" dentro de .container

      h4 {
        // Estilos para el elemento <h4> dentro de .row
      }

      p {
        // Estilos para los elementos <p> dentro de .row
      }
    }

    .digramcomposiciones {
      // Estilos para el elemento con la clase "digramcomposiciones" dentro de .container
    }

    .digramtexto {
      // Estilos para el elemento con la clase "digramtexto" dentro de .container
    }
  }

  .carrouselPadre {
    width: 60%;

  .dganchocarrousel {
    width: 100%;
    display: flex;
    justify-content: center;
    }

    .carrouselizquierda {
      display: flex;
      justify-content: end;
      margin: 0;
      padding: 0;
      width: 100%;
    }

    .carrousemedio {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
      width: 100%;
    }

    .carrouselderecha {
      display: flex;
      justify-content: start;
      margin: 0;
      padding: 0;
      width: 100%;
    }
  }
}