// VARIABLES

$negroPleno: #000000;
$negroLavado: #1f1f1f;
$fondo: #fafafa;

// LISTAS

$weight:
200,
300,
400,
500,
600;


.hola, .disciplinas, h3{
    font-weight: nth($weight, 1);
}

h1, h2, .presentacion{
    font-weight: nth($weight, 2);
}

.menu, .p3, .mailfooter{
    font-weight: nth($weight, 3);
}

.logo a, .aua, .cargadorya, .digram, .somos, .ecorappi, .hayrancho, .keepgoing, .mailfooter:hover{
    font-weight: nth($weight, 4);
}

.menu li a, .palabrassobremi{
    font-weight: nth($weight, 5);
}



// MIXIN

@mixin flex ($flex, $direction, $justify, $align, $text) {
    display: $flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    text-align: $text;
}

.tituloyfoto{
    @include flex (flex, row, space-between, center, center)
}

.presentacion{
    @include flex (flex, column, center, center, center)
}

.textosobremi{
    @include flex (flex, row, center, center, left)
}

.palabrassobremi{
    @include flex (flex, row, space-around, center, center)
}

.proyectosnombres{
    @include flex (flex, row, space-around, center, center)
}

.caja{
    @include flex (flex, column, center, center, center)
}

.formulario{
    @include flex (flex, column, center, center, center)
}